<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>{{title}}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <p>
            <a class="btn btn-warning" href="/" role="button">&nbsp&nbsp&nbsp&nbspГлавная&nbsp&nbsp&nbsp</a>
            <a class="btn btn-info" href="/api_info" role="button">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspApi&nbsp&nbsp&nbsp&nbsp&nbsp</a>
        </p>
        <div class="dropdown show">
            <a class="btn btn-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown">
                Калькуляторы&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/calc/loan"><h4>Кредитный</h4></a>
                <a class="dropdown-item" href="/calc/deposit"><h4>Депозитный</h4></a>
            </div>
        </div>


        <a class="navbar-brand" href="#"></a>
        {% if current_user.is_authenticated %}
        <p>
        <a class="navbar-brand" href="#">{{ current_user.name }}</a>
        <a class="btn btn-info" href="/logout" role="button">Выйти</a>
        </p>
        {% else %}
        <p>
            <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
            <a class="btn btn-success" href="/login">Войти</a>
        </p>
        {% endif %}
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>