{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/loan_table_style.css')}}">
<h1 align="center">Депозитный калькулятор</h1>
<h3 align="center">Вы сможете рассчитать доход по вкладу, оценить, как он меняется в зависимости от разных сроков и
    условий выплаты процентов.</h3><br>
<form action="" method="POST">
    <p>
    <h2 align="center">{{ form.value.label }}</h2>
    <h3 align="center"> {{ form.value(size=35)}} {{form.currency}}</h3>
    {% for error in form.value.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
    </p>
    <p>
    <h2 align="center">{{ form.deposit_time.label }}</h2>
    <h3 align="center"> {{ form.deposit_time(size=35)}} {{form.deposit_time_type}}</h3>
    {% for error in form.value.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
    </p>
    <p>
    <h2 align="center">{{ form.percent.label }}</h2>
    <h3 align="center"> {{ form.percent}}</h3>
    {% for error in form.value.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
    </p>
    <h2 align="center">{{ form.loan_date.label }}</h2>
    <h3 align="center"> {{ form.loan_date}}</h3>
    {% for error in form.value.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
    </p>
    <p>
    <h1 align="center">{{form.submit(type="submit", class="btn btn-primary") }}</h1></p>


</form>

{% endblock %}